<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Mode tutoriel</strong>
  </p>
  <p>
    <ul>
      <li>
        Consultez le <%= link_to 'guide du nouvel inscrit', newcomer_path %> pour comprendre les bases de Vinosus.
      </li>
      <li>
        Vous pouvez désactiver le tutoriel et changer vos paramètres à l'aide du menu <strong></b><%= current_user.name %></strong> puis en choisissant <strong><i class="icon-user"></i><%= t("menu.profile.my") %>
      </li></strong></li>
    </ul>
  </p>
</div>
