<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Utilisateurs</strong>
  </p>
  <p>
    <ul>
      <li>L'endroit idéal pour nouer des contacts.</li>
      <li>La <strong>correspondance cave</strong> vous indique quels utilisateurs possèdent des bouteilles proches des votre.</li>
    </ul>
  </p>
</div>
