<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Nouveau producteur</strong>
  </p>
  <p>
    Merci pour votre participation !<br />
    Avez-vous toutefois pensé à vérifier que la fiche de ce producteur n'existe pas encore ?
  </p>
</div>
