<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Messagerie</strong>
  </p>
  <p>
    <ul>
      <li>Voilà la liste de vos conversations. Une conversation est un ensemble de messages échangés avec une ou plusieurs personnes.</li>
      <li>Le <strong>dernier émetteur</strong> est la dernière personne à avoir envoyé un message au cours de cette conversation. Ca peut être vous.</li>
      <li>Cliquez sur le <strong>sujet</strong> pour lire les messages.</li>
    </ul>
  </p>
</div>
