<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Mes sorties</strong>
  </p>
  <p>
    <ul>
      <li>Voilà la liste des bouteilles que vous avez eu et que vous avez bues, offertes, ...</li>
    </ul>
  </p>
</div>
