<% provide(:title, t('wine_rack.place', name: @wine_rack.name)) %>

<h1><%= t 'wine_rack.place', name: @wine_rack.name %></h1>
<h2><%= bottle_name @bottle, html: false %></h2>

<p>
  <%= t 'wine_rack.place_instruction' %>
</p>

<table>
  <% (0..(@wine_rack.total_rows - 1)).each do |total_row| %>
    <tr>
      <% (0..(@wine_rack.total_columns - 1)).each do |total_column| %>
        <td>
          <% letter = compartment_letter(@wine_rack, total_row, total_column) %>
          <%= render :partial => "#{@wine_rack.layout}_compartment_place", :locals =>  { :compartment => @positions[total_row][total_column], :letter => letter, :total_row => total_row, :total_column => total_column, :rows => @wine_rack.rows, :columns => @wine_rack.columns} %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
