
<script type="text/javascript">
	function highlight(id) {
		border(id, 'solid');
	}
	
	function unhighlight(id) {
		border(id, 'none');
	}

	function border(id, border) {
		var row = $("tr[id*=bottle_row_" + id + "]");
		row.css('border', border)
	    var img = $("td[id*=bottle_img_" + id + "] img");
	    img.css('border', border);
	}
	
    $(document).ready(function(){
    	$("tr[id*=bottle_row_]").hover(
    		function(){
	    		var id = $(this).attr('id').substring('bottle_row_'.length);
	    		highlight(id);
    		},
    		function(){
	    		var id = $(this).attr('id').substring('bottle_row_'.length);
	    		unhighlight(id);
    		});
    });
    $(document).ready(function(){
    	$("td[id*=bottle_img_]").hover(
    		function(){
	    		var id = $(this).attr('id').substring('bottle_img_'.length);
	    		highlight(id);
    		},
    		function(){
	    		var id = $(this).attr('id').substring('bottle_img_'.length);
	    		unhighlight(id);
    		});
    });
</script>


<% provide(:title, @wine_rack.name) %>

<h1><%= @wine_rack.name %></h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4">

<table border="solid">
  <% (0..(@wine_rack.total_rows - 1)).each do |total_row| %>
    <tr>
      <% (0..(@wine_rack.total_columns - 1)).each do |total_column| %>
        <td>
          <% letter = compartment_letter(@wine_rack, total_row, total_column) %>
          <%= render :partial => "wine_racks/show/#{@wine_rack.layout}", :locals =>  { :compartment => @positions[total_row][total_column], :total_row => total_row, :total_column => total_column, :letter => letter, :rows => @wine_rack.rows, :columns => @wine_rack.columns} %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

  </div>

  <div class="span8">
    <table class="table table-condensed table-striped">
      <tbody>
        <% @bottles.each do |p| %>
          <%= render :partial => "table_row", :locals =>  { :bottle => p.bottle, :quantity => p.quantity} %>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>