<% provide(:title, t("menu.discover.wines_estates")) %>

<h1><%= t("menu.discover.wines_estates") %></h1>

<%= render file: 'app/views/estates/_list' %>

<br /><br /><br /><br />

<%= render file: 'app/views/wines/_list' %>