<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Vins</strong>
  </p>
  <p>
    <ul>
      <li>
        C'est dans cette page que vous pouvez rechercher un vin.
      </li>
      <li>
        Vous ne trouvez pas le vin recherché ? <strong><%= t("wine.suggest") %></strong> !
      </li>
    </ul>
  </p>
</div>
