<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Casiers</strong>
  </p>
  <p>
    <ul>
      <li>Un casier est un espace de rangement destiné au stockage de bouteilles. Il peut s'agir de cartons, armoire réfrigéré, étagères....</li>
      <li>Grâce à sa représentation graphique des casieers, Vino Socialis vous aide à retrouver rapidement une bouteille que vous recherchez.</li>
    </ul>
  </p>
</div>
