<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Casier "<%= @wine_rack.name %>"</strong>
  </p>
  <p>
    <ul>
      <li>Découvrez l'interface de visualisation du casier.</li>
      <li>Passez la souris sur une pastille de couleur à gauche pour voir à droite de quelle bouteille il s'agit.</li>
      <li>Passez la souris sur une bouteille à droite pour voir à gauche où elle est placée.</li>
      <li>Cliquez ensuite (à gauche ou à droite) pour geler la bouteille choisie et avoir accès aux actions associées.</li>
      <li>Cliquez à nouveau pour avoir accès à nouveau à toutes les bouteilles.</li>
    </ul>
  </p>
</div>
