<h1><%= t("bottles.my")%></h1>

<% if @bottles.nil? || @bottles.empty? %>
  <%= t('bottles.none') %>
<% else %>
  <%= render @bottles %>
<% end %>

<br /><br />
<%= link_to t('bottles.new'), new_bottle_path %>
