<div class="white-opacity rounded">
  <% if current_user == @user %>
    <% provide(:title, t("user.my_profile")) %>
    <h1><%= t("user.edit_my_profile") %></h1>
  <% else %>
    <% provide(:title, t("user.edit_profile", :user_name => @user.name)) %>
    <h1><%= t("user.edit_profile", :user_name => @user.name) %></h1>
  <% end %>
  
  <div class="row-fluid">
    <%= render 'form' %>
  </div>
</div>
