<% if current_user == @suer %>
  <% provide(:title, 'My profile') %>
<% else %>
  <% provide(:title, "Edit #{@user.name}") %>
<% end %>
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
