<% if current_user == @user %>
  <% provide(:title, 'My profile') %>
  <h1>Edit my profile</h1>
<% else %>
  <% provide(:title, "Edit #{@user.name}") %>
  <h1><%= "Edit #{@user.name}" %></h1>
<% end %>

<%= render 'form' %>
