<% provide(:title, t("user.users")) %>

<div class="white-opacity rounded-top">
  <h1><%= t("user.users") %></h1>
  
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Correspondance cave</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
