<% provide(:title, t("recommandation.latest")) %>

<p id="notice"><%= notice %></p>

<div class="white-opacity rounded-top">
  <h1><%= t("recommandation.latest") %></h1>
  <table class="table table-condensed">
    <%= render @recommandations %>
  </table>
</div>
