<% provide(:title, t("recommandation.latest")) %>

<p id="notice"><%= notice %></p>

<h1><%= t("recommandation.latest") %></h1>

<table class="table table-condensed white-opacity">
  <%= render @recommandations %>
</table>