<% provide(:title, t("recommandation.most")) %>

<div class="white-opacity rounded-top">
  <h1><%= t("recommandation.most") %></h1>
  <table class="table table-condensed">
    <% @recommanded.each do |r| %>
      <%= wine_name r.wine, color: true, estate: true, area: true, html: true, links: true, recommandations: true %>
    <% end %>
  </table>
</div>
