
<table>
  <tr>
    <td>
      <%= letter %>
    </td>
    <% (0..(columns - 1)).each do |column| %>
      <td>
      	<%= column %>
      </td>
    <% end %>
  </tr>
  <% (0..(rows - 1)).each do |row| %>
    <tr align="middle">
      <td>
        <%= row %>
      </td>
      <% (0..(columns - 1)).each do |column| %>
        <% position = compartment[row][column] %>
        <%= render :partial => 'wine_racks/place/img', :locals => {:position => position, :move => '0', :total_row => total_row, :total_column => total_column, :row => row, :column => column} %>
      <% end %>
    </tr>
  <% end %>
</table>