<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert alert-error">
    ×
  </button>
  <p>
    <strong>Annonce générale</strong>
  </p>
  <p>
    Bienvenue dans le monde du vin sur Vinosus !<br />
    Le site est actuellement en bêta et peut présenter quelques ralentissements ponctuellement, notament au premier chargement du site.<br />
    Merci de signaler tout problème ou bug. Les commentaires sur l'ergonomie, le design, l'attractivité ou les fonctionnalités sont également appréciés.<br />
    Bonne découverte !
  </p>
</div>