<% set_meta_tags :title => t("footer.about") %>

<div class="white-opacity rounded">
  <p>Vinosus est entièrement gratuit (et espère le rester).</p>
  <p>Vinosus a pour but de faire découvrir le monde du vin, accompagner les débutants et fournir tous les outils dont rêvent les amateurs de vin.</p>
  <p>Toute personne physique ou morale peut contacter les administrateurs du site pour toutes données le concernant.</p>
  <p>Les commentaires et appréciations des vins sont émis par les utilisateurs et n'engagent donc pas la responsabilité de Vinosus.</p>
  <p>L'intégralité des données est la propriété de Vinosus. L'extraction ou la réutilisation des données sans autorisation est strictement interdit.</p>
  <p>Contact: <%= mail_to 'guillaume.juillot@gmail.com', 'Guillaume Juillot' %></p>
</div>
