<% provide(:title, t("menu.discover.title")) %>

<p>
  Qui n'a jamais été confronté au dur choix lors d'un achat d'un vin ?
  Avec Vino Socialis, vous êtes conseillé:
  <ul>
    <li>En fonction des vins que vous aimez, Vino Socialis vous suggère d'autres vins appréciés par des utilisateurs aux goûts similaires aux votres.</li>
    <li>En fonction du met que vous allez savourer, Vino Socialis vous conseille des vins selon les accords déjà validés et approuvés par les autres utilisateurs.</li>
  </ul>
</p>
