<% if user_signed_in? %>
	<h1>Welcome <%= current_user.name %></h1>
	<p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
<% else %>
	<h1>Vino Socialis</h1>
	<p>Discover - Store - Share: Wine made easy</p>
	<p><%= link_to "Sign up", new_user_registration_path %></p>
	<p><%= link_to "Sign in", new_user_session_path %></p>
<% end %>
