<% provide(:title, t("menu.share.title")) %>

<p>
  <b>A votre tour de participez !</b>
  <ul>
    <li>Partagez avec la communauté les producteurs que vous connaissez et les vins que vous avez appréciés</li>
    <li>Echangez et rencontrez d'autres amateurs de vin</li>
  </ul>
</p>
