<% provide(:title, t("menu.track.title")) %>

<p>
  <b>Vous êtes consommateur occasionnel de vin ?</b>
  <ul>
    <li>Enregistrez vos achats</li>
    <li>Enregistrez les vins que vous dégustez</li>
    <li>Et retrouvez ainsi, à tout moment, les vins que vous avez apprécies pour de nouveaux achats</li>
  </ul>
</p>
<p>
  <b>Vous êtes grand amateur de vin ?</b>
  <ul>
    <li>Suivez l'évolution de vos vins en cave en indiquant la période optimale de dégustation</li>
    <li>Retrouvez rapidement la bouteille que vous cherchez dans votre cave grâce à le représentation graphique fournie par Vino Socialis</li>
  </ul>
</p>
