<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Accords mets-vin</strong>
  </p>
  <p>
    <ul>
      <li>Trouver le meilleur vin pour accompagner votre repas est un art difficile</li>
      <li>Pour vous aidez, parcourez les avis des autres utilisateurs sur les accords qu'ils ont pu essayer.</li>
    </ul>
  </p>
</div>
