<% set_meta_tags :title => t("menu.discover.books") %>

<div class="white-opacity rounded-top">
  <h1><%= t("menu.discover.books") %></h1>
  
  <% amazon_img_start = '<img border="0" src="' %>
  <% amazon_img_end = '" ></a>' %>
  <% @books.each do |book| %>
    <% amazon_img = book.amazon[amazon_img_start.length+book.amazon.index(amazon_img_start)..-1] %>
    <% amazon_img = amazon_img[0..amazon_img.index(amazon_img_end)-1] %>
    <%= link_to image_tag(amazon_img, :alt => book.title), book %>
  <% end %>
</div>

