<% set_meta_tags :title => t("menu.discover.books") %>

<div class="white-opacity rounded-top">
  <h1><%= t("menu.discover.books") %></h1>
  <%= render @books %>
  <% if can? :new, Book %>
    <br /><br />
    <%= link_to t('book.new'), new_book_path %>
  <% end %>
</div>
