<% provide(:title, 'Wine colors') %>

<h1>Wine colors</h1>

<ul>
  <%= render @wine_colors %>
</ul>

<% if can? :manage, WineColor %>
	<br />
	<%= link_to 'New wine color', new_wine_color_path %>
<% end %>
