<tr>
  <td>
    <%= link_to estate.name, estate %>
  </td>
  <td>
    <%= "#{estate.town} (#{estate.country})" %>
  </td>
  
  <td>
    <% if can? :replace, Estate and @replaced_estate %>
      <%= estate_action_button estate, @replaced_estate %>
    <% else %>
      <%= estate_action_button estate %>
    <% end %>
  </td>
</tr>