<% provide(:title, t("area.areas")) %>

<h1><%= t("area.areas") %></h1>

<ul>
  <%= render @areas %>
</ul>

<% if can? :manage, Area %>
  <br />
  <%= link_to t("area.new"), new_area_path %>
<% end %>
