<% provide(:title, @area.name) %>

<p id="notice"><%= notice %></p>

<h2><%= link_to(t('country.countries'), countries_path) + ' > ' + full_area_name(@area) %></h2>

<ul>
  <% @wines.each do |wine| %>
  	<li><%= wine_name wine, estate: true, html: true, links: true %></li>
  <% end %>
</ul>