<% provide(:title, @area.name) %>

<p id="notice"><%= notice %></p>

<div class="white-opacity rounded-top">
  <h1><%= link_to(t('country.countries'), countries_path) + ' > ' + full_area_name(@area, html: true) %></h1>
  
  <table class="table table-condensed">
    <% @wines.each do |wine| %>
    	<%= wine_name wine, color: true, estate: true, html: true, links: true %>
    <% end %>
  </table>
</div>
