<div class="row">
  <div class="span6">
    <div class="control-group">
      <%= f.label :public_comment, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :public_comment, rows: 6 %>
      </div>
    </div>
  </div>
  
  <div class="span6">
    <div class="control-group">
      <%= f.label :private_comment, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :private_comment, rows: 6 %>
      </div>
    </div>
  </div>
  
</div>
