<% provide(:title, t("tasting.latest")) %>

<div class="white-opacity rounded-top">
  <h1><%= t("tasting.latest") %></h1>
  
  <table class="table table-condensed middle">
    <%= render @tastings %>
  </table>
</div>
