<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Producteurs et vins</strong>
  </p>
  <p>
    <ul>
      <li>
        C'est dans cette page que vous pouvez rechercher un producteur ou un vin.
      </li>
      <li>
        Vous pourrez alors enregistrez une nouvelle bouteille ou une nouvelle dégustation.
      </li>
      <li>
        Votre recherche est infructueuse ? Créer une nouvelle fiche vin pour un producteur existant ou une nouvelle fiche producteur.
      </li>
    </ul>
  </p>
</div>
