<div class="white-opacity rounded-top">
  <h1><%= t("consumptions.my")%></h1>
  
  <% if @consumptions.nil? %>
    <%= t('consumptions.none') %>
  <% else %>
    <%= paginate @consumptions %>
    <table class="table table-condensed middle">
      <%= render @consumptions %>
    </table>
  <% end %>
</div>
