<% provide(:title, t("country.countries")) %>

<h1><%= t("country.countries")%></h1>

<ul>
  <%= render @countries %>
</ul>

<% if can? :manage, Country %>
	<br />
	<%= link_to t("country.new"), new_country_path %>
<% end %>
