<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Nouvelle(s) bouteille(s)</strong>
  </p>
  <p>
    <ul>
      <li>Cette page vous permet d'enregistrer de nouvelles bouteilles que vous avez achetées, reçues...</li>
    </ul>
  </p>
</div>
