<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Bouteilles non placées</strong>
  </p>
  <p>
    <ul>
      <li>Voilà la liste de vos bouteilles n'ayant pas été placées dans un casier.</li>
    </ul>
  </p>
</div>
