<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <strong>Mes bouteilles</strong>
  </p>
  <p>
    <ul>
      <li>Cette page vous permet de voir les détails concernant vos bouteilles de <strong><%= bottle_name @bottle %></strong></li>
      <li>Si vous avez des casiers, vous pouvez <strong>Placer</strong> vos bouteilles dans un de ces casiers.</li>
      <li>Si vous avez déjà placé des bouteilles dans un casier, cliquez sur le nom de ce casier pour voir rapidement où elles sont situées dans ce casier.</li>
      <li>Vous avez ouvert une de ces bouteilles ? Ou alors elle n'est plus en votre possession ? Cliquez sur <strong>Consommer</strong></li>
    </ul>
  </p>
</div>
