.icon-tastings {
  background-image: url("icons/tastings.png");
  background-position: center center;
  height: 14px;
  width: 14px;
}

.icon-add-label {
  background-image: url("icons/add_label.png");
  background-position: center center;
  height: 14px;
  width: 14px;
}

.icon-encave {
  background-image: url("icons/encave.png");
  background-position: center center;
  height: 14px;
  width: 14px;
}

.icon-taste {
  background-image: url("icons/taste.png");
  background-position: center center;
  height: 14px;
  width: 14px;
}

.icon-new-wine {
  background-image: url("icons/new_wine.png");
  background-position: center center;
  height: 14px;
  width: 14px;
}

.icon-bottles {
  background-image: url("icons/bottles.png");
  background-position: center center;
  height: 14px;
  width: 14px;
}

.icon-temperature {
  background-image: url("icons/temperature.png");
  background-position: center center;
  height: 14px;
  width: 14px;
}