$navbar_color: #a4121d;
$navbar_color_2: #260d15;
$navbar_submenu_color: lighten($navbar_color, 60%);

$navbar_link_color: #fdcd2c;
$navbar_link_color_hover: #fdfdec;

$input_focus_color: $navbar_link_color;

$btn_primary_color: $navbar_color;
$btn_primary_color_2: $navbar_color_2;

body {
  font-family: 'Kotta One', serif;
  font-size: 14px;
}

table {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.center{
  text-align:center
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

.navbar-inner {
  font-size: 15px;
  background-image: -moz-linear-gradient(top, $navbar_color, $navbar_color_2);
  background-image: -ms-linear-gradient(top, $navbar_color, $navbar_color_2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($navbar_color), to($navbar_color_2));
  background-image: -webkit-linear-gradient(top, $navbar_color, $navbar_color_2);
  background-image: -o-linear-gradient(top, $navbar_color, $navbar_color_2);
  background-image: linear-gradient(top, $navbar_color, $navbar_color_2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbar_color', endColorstr='$navbar_color_2', GradientType=0);
}

.navbar .nav > li > a {
  color: $navbar_link_color;
  font-size: 16px;
}

.navbar .nav > li > a:hover {
  color: $navbar_link_color_hover;
}

.dropdown-menu {
  background-color: $navbar_submenu_color;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fcfcfb;
  text-decoration: none;
  background-color: $navbar_link_color;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $input_focus_color;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input_focus_color;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input_focus_color;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input_focus_color;
}

.btn-primary {
  color: $navbar_link_color;
  background-color: $btn_primary_color;
  background-image: -moz-linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-image: -ms-linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($btn_primary_color), to($btn_primary_color_2));
  background-image: -webkit-linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-image: -o-linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-image: linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$btn_primary_color', endColorstr='$btn_primary_color', GradientType=0);
  border-color: #f9fd2c #f9fd2c #d6da02;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: $btn_primary_color;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: $btn_primary_color_2;
  *background-color: $btn_primary_color;
}

[class^="icon-"],
[class*=" icon-"] {
  vertical-align: middle;
  margin-right: 8px;
}

.alert-info {
  color: $navbar_link_color_hover;
  font-size: 15px;
  background-image: -moz-linear-gradient(left, $navbar_color, $navbar_color_2);
  background-image: -ms-linear-gradient(left, $navbar_color, $navbar_color_2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($navbar_color), to($navbar_color_2));
  background-image: -webkit-linear-gradient(left, $navbar_color, $navbar_color_2);
  background-image: -o-linear-gradient(left, $navbar_color, $navbar_color_2);
  background-image: linear-gradient(left, $navbar_color, $navbar_color_2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbar_color', endColorstr='$navbar_color_2', GradientType=0);
}

.alert-success {
  color: #000;
  font-size: 15px;
  background-image: -moz-linear-gradient(left, $navbar_link_color, $navbar_link_color_hover);
  background-image: -ms-linear-gradient(left, $navbar_link_color, $navbar_link_color_hover);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($navbar_link_color), to($navbar_link_color_hover));
  background-image: -webkit-linear-gradient(left, $navbar_link_color, $navbar_link_color_hover);
  background-image: -o-linear-gradient(left, $navbar_link_color, $navbar_link_color_hover);
  background-image: linear-gradient(left, $navbar_link_color, $navbar_link_color_hover);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbar_link_color', endColorstr='$navbar_link_color_hover', GradientType=0);
}
