$navbar_color: #c24641; // 194,70,65
$navbar_color_2: #7E2217; // 126,34,23
$navbar_submenu_color: #fff;

$navbar_link_color: #fdcd2c; // 253,205,44
$navbar_link_color_hover: #fdfdec; // 253,253,236

$input_focus_color: $navbar_link_color;

$btn_primary_color: $navbar_color;
$btn_primary_color_2: $navbar_color_2;

$opacity: 0.8;

.white-opacity {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, $opacity);
}

.pagination > ul {
  background-color: rgb(255, 255, 255);
}

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  -moz-box-shadow: 5px -5px 5px #888;
  -webkit-box-shadow: 5px -5px 5px #888;
  box-shadow: 5px 5px 5px #aaa;
  
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.rounded-top {
  -webkit-border-radius: 75px 75px 0px 0px;
  -moz-border-radius: 75px 75px 0px 0px;
  border-radius: 75px 75px 0px 0px;
  
  -moz-box-shadow: 5px -5px 5px #888;
  -webkit-box-shadow: 5px -5px 5px #888;
  box-shadow: 5px -5px 5px #aaa;

  padding-top: 20px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.rounded-top-less {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  
  -moz-box-shadow: 5px -5px 5px #888;
  -webkit-box-shadow: 5px -5px 5px #888;
  box-shadow: 5px -5px 5px #aaa;

  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.rounded-top.more-padding {
  padding-right: 20px;
  padding-left: 20px;
}

.carousel > div > div > img {
  width: 100%;
}

body {
  font-family: 'Kotta One', serif;
  font-size: 14px;
  background: image-url("background.jpg") fixed no-repeat;
  background-position: center -150px;
  background-size: 950px;
}

table {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.middle td {
  vertical-align: middle
}

.center{
  text-align: center
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

h1 > a {
  font-weight: normal;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.navbar-fixed-top {
  background: image-url("background.jpg") fixed no-repeat;
  background-position: center -150px;
  background-size: 950px;
}

.navbar-inner {
  font-size: 15px;
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.navbar .nav > li > a {
  font-size: 16px;
}

.navbar .pull-left > li > a {
  color: $navbar_link_color;
}

.navbar .pull-left > li > a:hover {
  color: $navbar_link_color_hover;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
  opacity: 1;
  filter: alpha(opacity=1);
}

.navbar .pull-left li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
  border-top-color: $navbar_link_color;
  border-bottom-color: $navbar_link_color;
}

.navbar .pull-left li.dropdown .dropdown-toggle:hover .caret, .navbar .nav li.dropdown.open .caret {
  border-top-color: $navbar_link_color_hover;
  border-bottom-color: $navbar_link_color_hover;
}

.navbar .pull-right > li > a {
  color: $navbar_color;
}

.navbar .pull-right > li > a:hover {
  color: #000;
}

.navbar .pull-right li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
  border-top-color: $navbar_color;
  border-bottom-color: $navbar_color;
}

.navbar .pull-right li.dropdown .dropdown-toggle:hover .caret, .navbar .nav li.dropdown.open .caret {
  border-top-color: #000;
  border-bottom-color: #000;
}


.dropdown-menu {
  background-color: $navbar_submenu_color;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fcfcfb;
  text-decoration: none;
  background-color: $navbar_link_color;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $input_focus_color;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input_focus_color;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input_focus_color;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input_focus_color;
}

.btn-primary {
  color: $navbar_link_color;
  background-color: $btn_primary_color;
  background-image: -moz-linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-image: -ms-linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($btn_primary_color), to($btn_primary_color_2));
  background-image: -webkit-linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-image: -o-linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-image: linear-gradient(top, $btn_primary_color, $btn_primary_color_2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc24641', endColorstr='#ff7E2217', GradientType=0);
  border-color: #f9fd2c #f9fd2c #d6da02;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: $btn_primary_color;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: $btn_primary_color_2;
  *background-color: $btn_primary_color;
}

[class^="icon-"],
[class*=" icon-"] {
  vertical-align: middle;
  margin-right: 8px;
}

.alert-no-close {
  padding: 8px 14px 8px 14px;
}

.alert-info {
  color: $navbar_link_color_hover;
  font-size: 15px;
  background-color: rgb(160, 52, 44);
  background-color: rgba(160, 52, 44, $opacity);
}

.alert-info > a {
  color: $navbar_link_color_hover;
}

.alert-info > a:hover {
  color: $navbar_link_color;
  text-decoration: none;
}

.alert-info > span > a {
  color: $navbar_link_color;
}

.alert-success {
  color: #000;
  font-size: 15px;
  background-color: rgb(253, 229, 140);
  background-color: rgba(253, 229, 140, $opacity);
}

.alert > .more {
  position: absolute;
  top: 230px;
}

.carousel-caption {
  background: rgba(160, 52, 44, 0.75);
}

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

// For d3.js
rect.background {
  opacity: 0;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

