<tr>
  <td><%= pairing.dish %></td>
  <td class="star" data-score="<%= pairing.note %>"></td>
  <td><%= wine_name pairing.tasting.wine, estate: true, area: true, html: true %></td>
  <td><%= pairing.tasting.user.name %></td>
</tr>