<% provide(:title, t("region.regions")) %>

<h1><%= t("region.regions")) %></h1>

<ul>
  <%= render @regions %>
</ul>


<% if can? :manage, Country %>
  <br />
  <%= link_to t("region.new")), new_region_path %>
<% end %>
