<% provide(:title, t("wine.wines")) %>

<p id="notice"><%= notice %></p>

<% if @replaced %>
  <h1>Remplacer "<%= @replaced.name %>"</h1>
<% else %>
  <h1><%= t("wien.wines") %></h1>
<% end %>

<%= render file: 'app/views/wines/_list' %>
