  	      	
  	      	<% if can? :manage, Moderation %>
  	      	  <% unread = current_user.unread_messages %>
  	      	  <li id="fat-menu" class="dropdown">
  	      	  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  	      	  	  Modération<b class="caret"></b>
  	      	  	</a>
  	      	  	<ul class="dropdown-menu">
  	      	  	  <li><%= link_to String(estate_count_unvalidated + wine_count_unvalidated) + ' fiches à valider', sheets_moderations_path %></li>
  	      	  	</ul>
  	      	  </li>
  	      	<% end %>
